{% extends "base.html" %}
{% load static %} 

{% block title %} My Blog {% endblock %} 

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/includes/post.css" %}">
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock %}

{% block content %}

<section id="welcome">
  <header>
    <img src="{% static "blog/images/img_me.jpg" %}" alt="Soham-The Author of the Blog" />
    <h2>SOHAM'S BLOGS!!</h2>
    <!-- <p>Hi, I am Soham and I love blogging about the world</p> -->
  </header>
</section>

<section id="latest-posts">
  <h2>My Latest Thoughts</h2>
  <ul>
    {% for post in posts %}
      {% include 'blog/includes/post.html' %}    
    {% endfor %}
    
  </ul>
</section>

<section id="about">
    <h2>What I Do</h2>
    <p>I love programming, I love to help others and I enjoy exploring new technologies in general - I always strive to be a better developer and person as a whole</p>
</section>
{% endblock %}
