{% extends "base.html" %} 
{% load static %} 

{% block title %} 
    {{post.title}}
{%endblock %} 

{% block css_files %} 
    <link rel="stylesheet" href="{% static "blog/post-detail.css" %}">
{% endblock %} 

{% block content %}
<section id="summary">
  <h2>{{post.title}}</h2>
  <article>
    <img src="{% static "blog/images/"|add:post.image %}" alt="Post title" />
    <address>{{post.author|title}}</address>
    <div>Last Updated on <time>{{post.date|date:"D d M Y"}}</time></div>
  </article>
</section>

<main>
    {{post.content}}
</main>
{% endblock %}
